<launch>
  <arg name="port" />
  <arg name="address" />
  <arg name="endpoint" default="/" />

  <arg name="retry_startup_delay" default="5" />

  <arg name="topics_glob" default="[*]" />
  <arg name="services_glob" default="[*]" />
  <arg name="params_glob" default="[*]" />

  <!-- Output: screen, log -->
  <arg name="output" default="screen" />

  <node name="rosbridge_websocket_client" pkg="rosbridge_client" type="rosbridge_websocket" output="$(arg output)">
    <param name="port" value="$(arg port)"/>
    <param name="address" value="$(arg address)"/>
    <param name="endpoint" value="$(arg endpoint)"/>
    <param name="retry_startup_delay" value="$(arg retry_startup_delay)"/>

    <param name="topics_glob" value="$(arg topics_glob)"/>
    <param name="services_glob" value="$(arg services_glob)"/>
    <param name="params_glob" value="$(arg params_glob)"/>
  </node>

  <node name="rosapi" pkg="rosapi" type="rosapi_node" output="$(arg output)">
    <param name="topics_glob" value="$(arg topics_glob)"/>
    <param name="services_glob" value="$(arg services_glob)"/>
    <param name="params_glob" value="$(arg params_glob)"/>
  </node>
</launch>